
.invia {
  padding-left: 1em;
  padding-right: 1em;
  // background: linear-gradient(45deg, #bed6ff, #3880ff );
  background-color: #3880ff;
  border-radius: 0 15px 15px 0;
  color: azure;
  height: 36px;
  margin-right: 1em;
}

input {
  margin-left: 1em;
}

form {
  display: flex;
  align-items: center;
}

#spinner-img {
  // background-image: url("assets/images/intellitronika-symbol.svg");
  background-image: url("../../assets/images/intellitronika-symbol.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  opacity: 0.7;
}

.bg-pink {
  border-radius: 15px;
}

.box-message {
  position: relative;
  text-align: left;
  padding: 0.8em;
  max-width: 55%;
  //border: 3px solid rgba(89, 0, 255, 0.479);
  //border: 2px solid rgba(255, 255, 255, 0.418);


  .time-message {
    position: absolute;
    right: 1em;
    bottom: 0;
    font-size: 80%;
  }
}

ion-input {
  border-radius: 15px 5px 5px 15px;
  border: 2px solid rgba(255, 255, 255, 0.267);
  width: 100%;
  margin-bottom: 0.5em;
  max-height: 15vh;
  overflow-y: scroll;
}

.received {
  background-color: rgba(224, 121, 224, 0.884);
  border-radius: 15px 15px 15px 3px;
  align-self: start;
  // background-color: rgb(255, 245, 148);
  // box-shadow: 15px 20px 25px rgba(231, 214, 231, 0.267);
}

.sent {
  // box-shadow: -15px 20px 25px rgba(231, 214, 231, 0.267);
  background-color: rgb(89, 150, 255);
  color: white;
  padding: 1em;
  border-radius: 15px 15px 3px 15px;
  align-self: end;
  margin-right: 1em;
}

