<ion-header [translucent]="true" class="ion-margin-bottom">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="ion-margin-top"></ion-menu-button>
    </ion-buttons>
    <ion-text style="display: flex;" class="ion-margin-top" slot="end">
      <h1>{{ username }}</h1>
      <ion-icon routerLink="" size="large" name="information-circle-outline" color="primary" class="ion-margin-start ion-margin-end"></ion-icon>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar class="ion-margin-bottom ion-padding-bottom">

    </ion-toolbar> -->
  </ion-header>


  <div id="container">
    <div class="chat-container">
      <div *ngFor="let message of dbmessage">
        <ion-label class="ion-margin-top">
          <div [class.bg-pink]="message.text.length > 0" class="box-message ion-margin-bottom ion-margin-start">
            <div class="cont-text">
              <span class="text-message" color="primary">{{message.text}}</span>
            </div>
            <span class="time-message">{{message.timestamp | date:'H:mm'}}</span>
          </div>
        </ion-label>
      </div>
      <div style="display: flex; justify-content: center; z-index: -1; background-color: rgba(255, 255, 255, 0.082); padding: 1em;" id="spinner-img">
          <!-- <img style="z-index: -10;" src="../../assets/images/intellitronika-symbol.svg" alt=""> -->
          <!-- background-image: url("../../assets/images/intellitronika-symbol.svg"); -->
      </div>
    </div>
  </div>
</ion-content>
<!-- <mat-form-field class="example-full-width" appearance="fill">
  <mat-label style="width: 100%;">Leave a comment</mat-label>
  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field> -->

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="formData">
      <!-- <form [formGroup]="formData" (ngSubmit)="sendmsg(messageForm.value.msg)"> -->
      <input placeholder="Scrivi qualcosa..." style="width: 100%; line-height: 36px; border-radius: 15px 5px 5px 15px;" text="area">
      <button class="invia" slot='end' type="submit" [disabled]="">Invia</button>
    </form>
  </ion-toolbar>
</ion-footer>
