.chat-container {
  height: 20vh;
}

.invia {
  padding-left: 1em;
  padding-right: 1em;
  // background: linear-gradient(45deg, #bed6ff, #3880ff );
  background-color: #3880ff;
  border-radius: 0 15px 15px 0;
  color: azure;
  height: 36px;
  margin-right: 1em;
}

input {
  margin-left: 1em;
}

form {
  display: flex;
  align-items: center;
}

#spinner-img {
  // background-image: url("assets/images/intellitronika-symbol.svg");
  background-image: url("../../assets/images/intellitronika-symbol.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  opacity: 0.7;
}

.bg-pink {
  background-color: rgba(224, 121, 224, 0.884);
  border-radius: 15px;
}

.box-message {
  position: relative;
  text-align: left;
  min-width: 10%;
  max-width: 55%;
  // box-shadow: 15px 20px 25px rgba(224, 121, 224, 0.267);
  padding: 0.8em;
  //width:calc()
  //border: 3px solid rgba(89, 0, 255, 0.479);
  //border: 2px solid rgba(255, 255, 255, 0.418);

  .cont-text {
    margin-bottom: 1em;
    .text-message {
      font-size: 110%;
      //padding: 30px;
    }
  }

  .time-message {
    position: absolute;
    right: 1em;
    bottom: 0;
    font-size: 85%;
  }
}

ion-textarea {
  border-radius: 15px 5px 5px 15px;
  border: 2px solid rgba(255, 255, 255, 0.267);
  width: 100%;
  margin-bottom: 0.5em;
}



