<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" class="ion-margin-bottom">
          <ion-list-header>
            <ion-label class="ion-padding">
              <h1>Messaggi</h1>
            </ion-label>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item color="light" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot name="person-circle-outline" class="ion-padding-end"></ion-icon>
              <ion-text class="ion-no-margin" color="primary">{{ p.mittente }}</ion-text>
              <!-- {{ p.messaggio }} -->
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!-- <ion-list id="labels-list">

          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>

      <ion-item>
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle" class="ion-padding"></ion-icon>
        </ion-button>
      </ion-item>

      <div class="ion-margin-bottom ion-margin-start">
        <ion-note color="medium">francesco@intellitronika.com</ion-note>
        <a href="mailto:francesco.leuzzi@intellitronika.com">
          <ion-icon class="ion-margin-start" name="mail-outline"></ion-icon>
        </a>
      </div>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

